body {
   font-family: "Shadows Into Light Two";
   font-size: 14px; 
}

h1 {
    font-family: "Shadows Into Light Two";
    font-size: 22px;
    text-align: center;
    padding: 30px;
    text-shadow: 3px 3px 10px; 
}
