* {
    box-sizing: border-box;
    font-family: "Tinos";
  }

/* body {
   font-size: 14px; 
} */

header {
   text-decoration: none;
   color: black;
   font-family: "Tinos";
}

/** HEADER **/

#header-nav {
    background-color:white;
    border-radius: 0;
    border: 0;
}

h1 {
    text-align: center;
    padding: 25px 0px 10px 0px;
    text-shadow: 2px 2px 5px;
    color: black;
}

#menuitem {
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 0px 15px 0px 15px;
    text-shadow: 1px 1px 3px;
}

#siteheader {
    text-decoration: none;
    color: black;
    text-align: center; 
}

.container > nav {
    display: grid;
    justify-content: center;

}

/** BODY **/

.col {
    height: 480px;
}

.maincontent {
    padding: 50px 0px 0px 0px;
    width: auto;
}

#content1 {
    text-align: center;
    font-size: .75em;
}

#content2 {
    text-align: center;
    font-size: 2.0em;
}

#content-image {
    background-image: url("../images/Kim.jpg");
    opacity: 0.25;
    height: auto;
}
#
/* Extra small devices (portrait phones, less than 576px) 
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* / Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}